/*
Website Name: OpenDrawing
Website URL: N/A
Version: 1.00
*/


/*
================================================================
================================================================
	Basics
================================================================
================================================================
*/


    /* ---------------------- */
    /* Global                 */
    /* ---------------------- */


        @font-face {
            font-family: 'Poppins Regular';
            src: url('../includes/font/Poppins-Regular.eot');
            src: url('../includes/font/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
                url('../includes/font/Poppins-Regular.woff2') format('woff2'),
                url('../includes/font/Poppins-Regular.woff') format('woff'),
                url('../includes/font/Poppins-Regular.ttf') format('truetype'),
                url('../includes/font/Poppins-Regular.svg#Poppins-Regular') format('svg');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        html {
            scroll-behavior: smooth;
            overflow-x: hidden;
        }

        html.no-scroll {
            overflow-y: hidden;
        }

        body {
            font-family: Poppins Regular;
            padding: 0;
        	font-size: 16px;
        	line-height: 28px;
            letter-spacing: 0px;
            overflow-x: hidden;
            overflow-y: hidden;
            font-weight: normal;
            cursor: default;
            z-index: 0;
            color: #000;
            background-color: #fafafa;
        }
        p {
            font-weight: normal;
            color: #000;
        }
        a {
            color: #ffffff;
        }
        ul {
            font-size: 0;
        }
        ul li {
            font-size: 16px;
        }
        h1, h2, h3, h4, h5, h6 {
            letter-spacing: 0;
            font-weight: normal;
        }
        h1 {
        	font-size: 48px;
        	line-height: 52px;
        }
        h2 {
        	font-size: 32px;
        	line-height: 42px;
        }
        h3 {
        	font-size: 20px;
        	line-height: 35px;
        }
        h4 {
        	font-size: 18px;
        	line-height: 31px;
        }
        h5 {
        	font-size: 14px;
        	line-height: 25px;
        }
        h6 {
        	font-size: 13px;
        	line-height: 20px;
        }
        section {
            position: relative;
        }


        ::-webkit-scrollbar {
            width: 5px;
        }
        ::-webkit-scrollbar-track {
            background: rgba(0, 42, 245, 0.3);
        }

        ::-webkit-scrollbar-thumb {
            background: #3a3af4;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #59bc7d;
        }

        ::selection {
            background-color: #59bc7c;
            color: #002af5;
        }
        ::-moz-selection {
            background-color: #59bc7c;
            color: #002af5;
        }



/*
================================================================
================================================================
    Intro Loader
================================================================
================================================================
*/

    .intro-loader {
        background-color: #080823;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    .intro-loader svg {
        animation: scaleAnimationIntroLogo 3s infinite ease-in-out;
        transform-origin: center;
        width: 70%;
    }

    @keyframes scaleAnimationIntroLogo {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }

    .intro-loader.hide {
        opacity: 0;
        pointer-events: none;
    }



/*
================================================================
================================================================
	Header
================================================================
================================================================
*/

    header {
        width: 100vw;
        position: fixed;
        z-index: 15;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 50px;
        border-bottom: 1px #ffffff1f solid;
        background: linear-gradient(to right, #1c1c6f 0%, #000000 38%);
    }

    header > a img {
        width: 150px;
        transition: transform 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform-origin: left;
    }

    header > a:hover img {
        transform: scale(1.2);
        transition: transform 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    header nav {
        height: fit-content;
    }

    header li {
        display: flex;
        gap: 20px;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0px;
    }

    header li a:hover {
        color: #7e7eff;
    }


/*
================================================================
================================================================
    Hero
================================================================
================================================================
*/
    .hero {
        height: 100vh;
        padding: 200px 50px;
        display: flex;
        align-items: center;
        gap: 20px;
        background: linear-gradient(to right, #1c1c6f 0%,#000000 38%);
    }

    .hero .left-cont {
        position: relative;
        width: 35%;
        height: 50vh;
    }

    .hero .left-cont .step-el {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        pointer-events: none;
    }

    .hero .left-cont .step-el > div {
        width: fit-content;
        height: 280px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero .left-cont .step-el svg {
        fill: #ffffff;
        z-index: 0;
        opacity: 0.1;
        height: 100%;
    }

    .hero .left-cont .step-el span {
        font-size: 40px;
        line-height: 55px;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .hero .left-cont .step-el span:nth-of-type(2) {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 0px;
    }

    .hero .right-cont {
        flex-grow: 1;
        height: fit-content;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .hero .right-cont > div {
        width: 60vw;
        height: 70vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
    }

    .hero .scroll-down-popup {
        position: relative;
        display: flex;
        bottom: auto;
        left: auto;
        margin-top: 35px;
        transform: none;
    }

    .hero .scroll-down-popup > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero .scroll-down-popup svg {
        margin-bottom: 13px;
    }

    @keyframes upAndDown {

        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(15px);
        }

        100% {
            transform: translateY(0px);
        }

    }

    .hero .scroll-down-popup svg g {
        animation: upAndDown 1s infinite ease-in-out; /* Infinite up-and-down animation */
    }

    .hero .scroll-down-popup span {
        color: white;
        font-size: 17px;
        line-height: 21px;
    }

    .hero .right-cont > svg {
        height: calc(100vh - 200px);
        width: 60vw;
        pointer-events: none;
    }

    .hero .right-cont > svg .wiring-diagram-text {
        font-size: 8px;
        fill: white;
    }

    .hero .right-cont table {
        background: linear-gradient(0deg, #1c1c6f 0%, rgba(0, 0, 0, 1) 80%);
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 7px;
        border-radius: 10px;
        overflow-x: scroll;
        pointer-events: all;
    }

    .hero .right-cont table::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    .hero .right-cont table::-webkit-scrollbar-track {
        background: rgba(0, 42, 245, 0.3);
    }

    /* Handle */
    .hero .right-cont table::-webkit-scrollbar-thumb {
        background: #3a3af4;
    }

    /* Handle on hover */
    .hero .right-cont table::-webkit-scrollbar-thumb:hover {
        background: #59bc7d;
    }

    .hero .right-cont table thead {
        color: white;
        padding: 5px 15px;
        font-size: 13px;
        line-height: 18px;
    }

    .hero .right-cont table thead tr {
        border: none;
        border-bottom: 0.5px #616161 solid;
        display: flex;
        gap: 15px;
        justify-content: space-between;
        font-size: 15px;
        line-height: 21px;
        padding: 0 0 10px 0;
        width: 100%;
    }

    .hero .right-cont table thead th {
        border: none;
        justify-content: center;
    }

    .hero .right-cont table tbody {
        font-size: 11px;
        line-height: 16px;
        color: white;
    }

    .hero .right-cont table tbody tr {
        padding: 10px 15px;
        display: flex;
        gap: 15px;
        justify-content: space-between;
        font-size: 13px;
        line-height: 18px;
    }

    .hero .right-cont table tbody tr:last-of-type {
        border-bottom: none;
    }

    .hero .right-cont table thead th,
    .hero .right-cont table tbody td {
        display: flex;
        align-items: center;
        justify-content: center;
        word-break: break-word;
    }

    .hero .right-cont table thead th:nth-of-type(1),
    .hero .right-cont table tbody td:nth-of-type(1) {
        width: 100px;
        flex-shrink: 0;
        justify-content: flex-start;
    }

    .hero .right-cont table thead th:nth-of-type(2),
    .hero .right-cont table tbody td:nth-of-type(2) {
        width: 30px;
        flex-shrink: 0;
    }

    .hero .right-cont table thead th:nth-of-type(3),
    .hero .right-cont table tbody td:nth-of-type(3) {
        width: 170px;
        flex-shrink: 0;
        justify-content: left;
    }

    .hero .right-cont table tbody td:nth-of-type(3) {
        color: #B3B3B3;
    }

    .hero .right-cont table thead th:nth-of-type(4),
    .hero .right-cont table tbody td:nth-of-type(4) {
        width: 110px;
        flex-shrink: 0;
        justify-content: flex-start;
    }

    .hero .right-cont table thead th:nth-of-type(5),
    .hero .right-cont table tbody td:nth-of-type(5) {
        width: 100px;
        flex-shrink: 0;
        justify-content: flex-start;
    }

    .hero .right-cont table tbody td:nth-of-type(5) {
        color: #B3B3B3;
    }

    .hero .right-cont table thead th:nth-of-type(6),
    .hero .right-cont table tbody td:nth-of-type(6) {
        width: 60px;
        flex-shrink: 0;
    }


    .hero .right-cont table tbody td:nth-of-type(6) a {
        color: #05D566;
        text-decoration: underline;
    }

    .hero .right-cont table tbody td:nth-of-type(6) a:hover {
        color: #0077FF;
    }

    .hero .right-cont table thead th:nth-of-type(7),
    .hero .right-cont table tbody td:nth-of-type(7) {
        width: 160px;
        flex-shrink: 0;
    }

    #parts-calculator {
        width: 100%;
        height: fit-content;
        color: red;
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 30px;
        padding: 0px 20px;
        pointer-events: all;
    }

    #pc-left {
        border: 1px #ffffff66 solid;
        border-radius: 20px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #pc-right {
        width: 50%;
        border-radius: 20px;
        background: linear-gradient(to bottom, #1c1c6f 0%, #000000 78%);
        padding: 15px 10px;
    }

    #top-calc {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    #top-calc h4 {
        font-size: 17px;
        line-height: 32px;
        color: white;
    }

    #top-calc span:first-of-type {
        color: #B3B3B3;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 8px;
    }

    #top-calc span:last-of-type {
        color: #B3B3B3;
        font-size: 13px;
        line-height: 30px;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        background-color: #ffffff24;
        border-radius: 11px;
        padding: 5px 15px;
        border: 1px #ffffff69 solid;
    }

    #top-calc span:last-of-type svg {
        fill: white;
        width: 15px;
    }


    #bottom-calc {
        display: flex;
        flex-direction: column;
    }

    #bottom-calc h4 {
        font-size: 17px;
        line-height: 32px;
        color: white;
    }

    #bottom-calc span {
        color: #B3B3B3;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 8px;
    }

    #bottom-calc input {
        color: #B3B3B3;
        font-size: 13px;
        line-height: 30px;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        background-color: #ffffff24;
        border-radius: 11px;
        padding: 5px 15px;
        border: 1px #ffffff69 solid;
        transition: box-shadow 0.2s ease-in-out;
    }

    #bottom-calc input:not(:last-of-type) {
        margin-bottom: 10px;
    }

    #bottom-calc input:focus {
        box-shadow: 0px 0px 23px -6px rgb(255 255 255);
    }


/*
================================================================
================================================================
    Signup Section
================================================================
================================================================
*/

    .signup-cont-mobile {
        display: none;
    }

    .signup-cont {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: fit-content;
        align-items: center;
        pointer-events: none;
    }

    .signup-cont > svg {
        margin-bottom: 25px;
    }

    .signup-cont .form-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
            pointer-events: all;
    }

    .signup-cont .form-cont h1 {
        color: white;
        font-size: 43px;
        line-height: 52px;
        letter-spacing: 0px;
        margin-bottom: 20px;
        text-align: center;
    }

    .signup-cont .form-cont h1 b {
        font-weight: 600;
    }

    .signup-cont .form-cont span {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 20px;
        display: flex;
        color: white;
    }

    .signup-cont .form-cont form {
        display: flex;
        justify-content: center;
        gap: 15px;
        width: 100%;
    }

    .signup-cont .form-cont form input {
        width: 60%;
        border: 2px #3a3af4 solid;
        background-color: transparent;
        height: 60px;
        border-radius: 60px;
        padding: 10px 30px;
        font-size: 18px;
        line-height: 22px;
        color: white;
        transition: box-shadow 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    }

    .signup-cont .form-cont form input::placeholder {
        color: #888888;
        color: white;
        transform-origin: left;
        transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    .signup-cont .form-cont form input:focus {
        box-shadow: 0px 0px 33px -7px rgb(58 58 244);
    }

    .signup-cont .form-cont form input:focus::placeholder {
        opacity: 0;
        transform: scale(1.5);
    }

    .signup-cont .form-cont form button {
        border: none;
        color: white;
        height: 60px;
        border-radius: 60px;
        background-color: #3a3af4;
        padding: 10px 35px;
        cursor: pointer;
        font-size: 19px;
        line-height: 22px;
        transition: box-shadow 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    }

    .signup-cont .form-cont form button:hover {
        box-shadow: 0px 0px 33px 0px rgb(58 58 244);
        transition: box-shadow 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    }

    .signup-cont .form-cont form button:active {
        transform: scale(0.9);
    }

    svg.mobile-arrow-down {
        display: none;
    }

    #mobile-wiring-diagram {
        display: none;
    }

    #mobile-table {
        display: none;
    }

    #mobile-parts-calculator {
        display: none;
    }

    #mobile-plain-wiring-diagram {
        display: none;
    }



/*
================================================================
================================================================
    Footer
================================================================
================================================================
*/
    footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        padding: 30px 50px;
        background-color: transparent;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px #ffffff1f solid;
        background: linear-gradient(to right, #1c1c6f 0%, #000000 38%);
    }

    footer .left-cont {
        font-size: 12px;
        line-height: 15px;
        display: flex;
        gap: 17px;
    }

    footer .left-cont span {
        color: white;
    }

    footer .left-cont a:hover {
        color: #7e7eff;
    }

    footer ul {
        display: flex;
        gap: 15px;
    }

    footer ul a {
        display: flex;
    }

    footer ul a:hover {
        color: #7e7eff;
    }



    


/*
================================================================
================================================================
    Media Quieries
================================================================
================================================================
*/

    /* ---------------------- */
    /* Small Devices (Mobile) */
    /* ---------------------- */
        @media only screen and (max-width : 1024px) {


            html { 
                height: 100%;
            }
            
            body { 
                min-height: 100%;
            }
            
            header {
                padding: 20px 20px;
                position: fixed;
            }

            header nav {
                display: none;
            }

            footer {
                position: fixed;
                padding: 15px 20px;
            }

            footer .left-cont a {
                display: none;
            }

            .hero {
                padding: 69px 30px 49px 30px;
                height: auto;
            }

            .hero .scroll-down-popup {
                display: none;
            }

            .hero .right-cont {
                display: none;
            }

            .hero .left-cont {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 25px;
            }

            .signup-cont {
                display: none;
            }

            .signup-cont-mobile {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
                height: calc(100vh - 120px);
            }

            .signup-cont-mobile svg {
                width: 80%;
                margin-bottom: 12px;
            }

            .signup-cont-mobile h1 {
                font-size: 30px;
                line-height: 35px;
                color: white;
                margin-bottom: 10px;
            }

            .signup-cont-mobile h1 b {
                font-weight: bold;
            }

            .signup-cont-mobile span {
                font-size: 15px;
                line-height: 25px;
                color: white;
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
            }

            .signup-cont-mobile input {
                width: 100%;
                border: 2px #3a3af4 solid;
                background-color: transparent;
                height: 60px;
                border-radius: 60px;
                padding: 10px 30px;
                font-size: 18px;
                line-height: 22px;
                color: white;
                transition: box-shadow 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
                margin-bottom: 12px;
                max-width: 500px;
            }

            .signup-cont-mobile button {
                width: 185px;
                border: none;
                color: white;
                height: 60px;
                border-radius: 60px;
                background-color: #3a3af4;
                padding: 10px 35px;
                cursor: pointer;
                font-size: 19px;
                line-height: 22px;
                transition: box-shadow 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
            }

            .hero .left-cont .step-el {
                position: relative;
                left: auto;
                right: auto;
                transform: none;
                height: calc(50vh - 120px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .hero .left-cont .step-el > div {
                height: 290px;
            }

            .hero .left-cont .step-el span {
                font-size: 26px;
                line-height: 30px;
            }

            .hero .left-cont .step-el svg {
                height: 80%;
            }

            #parts-calculator {
                padding: 0;
                gap: 15px;
                flex-direction: column;
            }

            #pc-left {
                width: 100%;
                padding: 15px 0;
            }

            #pc-left svg {
                height: 80px;
            }

            #pc-right {
                width: 100%;
            }

            svg.mobile-arrow-down {
                display: block;
                width: 30px;
                margin: 0 auto 0 auto;
            }

            #mobile-plain-wiring-diagram {
                display: flex;
            }

            #mobile-wiring-diagram {
                display: flex;
            }

            #mobile-table {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 25px;
                color: white;
                font-size: 10px;
                line-height: 19px;
            }
            
            #mobile-table .mock-table {
                background: linear-gradient(0deg, #1c1c6f 0%, rgba(0, 0, 0, 1) 80%);
                border-radius: 6px;
                padding: 10px;
                width: 100%;
            }

            #mobile-table .mock-row {
                display: flex;
                gap: 15px;
            }

            #mobile-table .mock-row span:nth-of-type(1) {
                display: flex;
                width: 90px;
                color: white;
                border-right: 1px #ffffff45 solid;
            }

            #mobile-table .mock-row span:nth-of-type(2) {
                display: flex;
                width: 100px;
                color: #B3B3B3;
                flex: 1;
            }

            #mobile-table .mock-row span:nth-of-type(2) a {
                color: #05D566;
                text-decoration: underline;
            }


            #mobile-parts-calculator {
                flex-direction: column;
                width: 100%;
                display: flex;
                gap: 30px;
                padding: 20px 0px;
                align-items: center;
                max-width: 310px;
                margin: 0 auto;
            }

            #mobile-pc-left {
                height: 130px;
                border: 1px #ffffff66 solid;
                border-radius: 13px;
                width: 100%;
                aspect-ratio: 2 / 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #mobile-pc-left svg {
                height: 90px;
            }

            #mobile-pc-right {
                width: 100%;
                border-radius: 20px;
                background: linear-gradient(to bottom, #1c1c6f 0%, #000000 78%);
                padding: 15px 10px;
            }

            #mobile-top-calc {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
            }

            #mobile-top-calc h4 {
                font-size: 17px;
                line-height: 32px;
                color: white;
            }

            #mobile-top-calc span:first-of-type {
                color: #B3B3B3;
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 8px;
            }

            #mobile-top-calc span:last-of-type {
                color: #B3B3B3;
                font-size: 13px;
                line-height: 30px;
                display: flex;
                justify-content: space-between;
                white-space: nowrap;
                background-color: #ffffff24;
                border-radius: 11px;
                padding: 5px 15px;
                border: 1px #ffffff69 solid;
            }

            #mobile-top-calc span:last-of-type svg {
                fill: white;
                width: 15px;
            }

            #mobile-bottom-calc {
                display: flex;
                flex-direction: column;
            }

            #mobile-bottom-calc h4 {
                font-size: 17px;
                line-height: 32px;
                color: white;
            }

            #mobile-bottom-calc span {
                color: #B3B3B3;
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 8px;
            }

            #mobile-bottom-calc input {
                color: #B3B3B3;
                font-size: 13px;
                line-height: 30px;
                display: flex;
                justify-content: space-between;
                white-space: nowrap;
                background-color: #ffffff24;
                border-radius: 11px;
                padding: 5px 15px;
                border: 1px #ffffff69 solid;
                transition: box-shadow 0.2s ease-in-out;
            }

            #mobile-bottom-calc input:not(:last-of-type) {
                margin-bottom: 10px;
            }

            #mobile-bottom-calc input:focus {
                box-shadow: 0px 0px 23px -6px rgb(255 255 255);
            }


        }

